$md-orange: (
    50 : #fcefe0,
    100 : #f9d6b3,
    200 : #f5bb80,
    300 : #f09f4d,
    400 : #ed8b26,
    500 : #ea7600,
    600 : #e76e00,
    700 : #e46300,
    800 : #e15900,
    900 : #db4600,
    A100 : #ffffff,
    A200 : #ffdbcf,
    A400 : #ffb59c,
    A700 : #ffa283,
    contrast: (
        50 : #05080B,
        100 : #05080B,
        200 : #05080B,
        300 : #05080B,
        400 : #05080B,
        500 : #05080B,
        600 : #05080B,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #05080B,
        A200 : #05080B,
        A400 : #05080B,
        A700 : #05080B,
    )
);

