<table mat-table [dataSource]="periodExpenses!" class="mat-elevation-z1" [loading]="expensesLoading">

	<!-- Position Column -->
	<ng-container matColumnDef="description">
		<th mat-header-cell *matHeaderCellDef>{{ "Pages.Home.Description" | translate }}</th>
		<td mat-cell class="table-mobile-title" *matCellDef="let expense; dataSouce: periodExpenses">{{ expense.description }}</td>
	</ng-container>

	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef>{{ "Pages.Home.Amount" | translate }}</th>
		<td mat-cell class="table-mobile-amount" *matCellDef="let expense; dataSouce: periodExpenses">{{ expense.amount | currency }}</td>
	</ng-container>

	<ng-container matColumnDef="dueDate">
		<th mat-header-cell *matHeaderCellDef>{{ "Pages.Home.DueDate" | translate }}</th>
		<td mat-cell *matCellDef="let expense; dataSouce: periodExpenses">{{ expense.dueDate | date}}</td>
	</ng-container>

	<ng-container matColumnDef="purchaseDate">
		<th mat-header-cell *matHeaderCellDef>{{ "Pages.Home.PurchaseDate" | translate }}</th>
		<td mat-cell class="table-mobile-purchase" *matCellDef="let expense; dataSouce: periodExpenses">{{ expense.purchaseDate | date }}</td>
	</ng-container>

	<ng-container matColumnDef="category">
		<th mat-header-cell *matHeaderCellDef>{{ "Pages.Home.Category" | translate }}</th>
		<td mat-cell class="table-mobile-category" *matCellDef="let expense; dataSouce: periodExpenses">{{ expense.category.name }}</td>
	</ng-container>

	<ng-container matColumnDef="paymentMethod">
		<th mat-header-cell *matHeaderCellDef>{{ "Pages.Home.PaymentMethod" | translate }}</th>
		<td mat-cell class="table-mobile-payment-method" *matCellDef="let expense; dataSouce: periodExpenses">{{ expense.paymentMethod.name }}</td>
	</ng-container>

	<ng-container matColumnDef="options">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell class="table-mobile-options" *matCellDef="let expense; dataSouce: periodExpenses">
			<button mat-icon-button color="warn" (click)="deleteExpense(expense.id)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>


<div class="mobile-view" [loading]="expensesLoading">
	<div class="mobile-row" *ngFor="let item of periodExpenses">
		<div class="main-container">
			<div class="left-container">
				<div class="item-container">
					<div class="title">
						{{ "Pages.Home.Description" | translate }}
					</div>
					<div class="value">
						{{ item.description }}
					</div>
				</div>

				<div class="item-container">
					<div class="title">
						{{ "Pages.Home.PurchaseDate" | translate }}
					</div>
					<div class="value">
						{{ item.purchaseDate | date }}
					</div>
				</div>
			</div>
			<div class="right-container">
				<div class="value">
					{{ item.amount | currency }}
				</div>

				<mat-icon class="toggle-icon" inline="true">keyboard_arrow_down</mat-icon>
			</div>
		</div>

		<mat-divider></mat-divider>
	</div>
</div>
