@import "/src/assets/bootstrap/scss/bootstrap-utilities.scss";

app-desktop-view {
	display: none;
}

app-mobile-view {
	display: block;
}

@include media-breakpoint-up(lg) {
	app-desktop-view {
		display: block;
	}

	app-mobile-view {
		display: none;
	}
}
