<app-period-select
	[displayedColumns]="displayedColumns"
	(periodChange)="periodSubject.next($event)"
></app-period-select>

<app-desktop-view
	[periodExpenses]="periodExpenses"
	[displayedColumns]="displayedColumns"
	[totalAmount]="totalAmount"
	[loading]="expensesLoading"
	(editExpense)="editExpense($event)"
	(deleteExpense)="deleteExpense($event)"
></app-desktop-view>

<app-mobile-view
	[periodExpenses]="periodExpenses"
	[totalAmount]="totalAmount"
	[loading]="expensesLoading"
	(editExpense)="editExpense($event)"
	(deleteExpense)="deleteExpense($event)"
></app-mobile-view>
