@import "node_modules/bootstrap/scss/bootstrap-utilities.scss";

.login-container {
	display: flex;
	justify-content: center;
}

.login-card {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	width: 85vw;
    max-width: 500px;
}

.show-password {
	margin: 15px;

	:hover {
		cursor: pointer;
	}
}
