@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss';

.period-form-field {
	width: 100%;
}

.period-container {
	display: flex;
	gap: 12px;
	align-items: baseline;
}

@include media-breakpoint-up(md) {
	.period-form-field {
		width: auto;
	}

	.period-container {
		.filter-button {
			display: none;
		}

		margin-top: 0;
	}
}
