<div class="period-container" *ngIf="periods?.length">
	<mat-form-field class="period-form-field">
		<mat-label>{{ 'Common.Month' | translate }}</mat-label>
		<mat-select [(value)]="selectedPeriod" (selectionChange)="periodChange.emit($event.value)">
			<mat-option *ngFor="let period of periods" [value]="period">
				{{ ( period.month + '/01/' + period.year) | date : 'MMMM YYYY' | titlecase }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<button mat-icon-button class="filter-button" [matMenuTriggerFor]="filterMenu">
		<mat-icon>sort</mat-icon>
	</button>
</div>

<mat-menu #filterMenu="matMenu">
	<div preventDefault>
		<div mat-menu-item disabled>{{ 'Pages.Expenses.SortBy' | translate }}:</div>

		<button mat-menu-item *ngFor="let option of periodService.sortOptions" (click)="changeFilter(option)">
			<mat-icon *ngIf="option.order">{{ option.order === 'desc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
			{{ option.text | translate }}
		</button>
	</div>
</mat-menu>
