@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss';

tr.mat-mdc-footer-row td {
	font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
}

table {
	td {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 250px;
	}

	.mat-column-displayDueDate {
		display: none;
	}
}

@include media-breakpoint-up(xl) {
	table {
		.mat-column-displayDueDate {
			display: table-cell;
		}
	}
}
