<!-- <table
    class="mat-elevation-z1"
    mat-table
    matSort
    matSortDisableClear="true"
    matSortActive="displayPaymentDate"
    matSortDirection="asc"
    [dataSource]="periodIncome!"
>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription>{{ "Pages.Income.Description" | translate }}</th>
        <td mat-cell *matCellDef="let income; dataSouce: periodIncome">{{ income.displayDescription }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ "Common.Total" | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Pages.Income.Amount" | translate }}</th>
        <td mat-cell *matCellDef="let income; dataSouce: periodIncome">{{ income.amount | currency }}</td>
        <td mat-footer-cell *matFooterCellDef> {{ totalAmount | currency }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="displayPaymentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Pages.Income.PaymentDate" | translate }}</th>
        <td mat-cell *matCellDef="let income; dataSouce: periodIncome">{{ income.displayPaymentDate | date }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Pages.Income.Payer" | translate }}</th>
        <td mat-cell *matCellDef="let income; dataSouce: periodIncome">{{ income.payer}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let income; dataSouce: periodIncome">
            <div class="d-flex justify-content-end">
                <button mat-icon-button color="primary" (click)="editIncome.emit(income)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="deleteIncome.emit(income)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table> -->
