@import "/src/assets/bootstrap/scss/bootstrap-utilities.scss";

tr.mat-mdc-footer-row td {
	font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
}

@include media-breakpoint-up(lg) {
	table {
		td {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-width: 250px;
		}

		.mat-column-dueDate {
			display: none;
		}
	}
}
