<period-select (periodChange)="periodSubject.next($event)"></period-select>

<div class="cards-container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ 'Pages.Home.Revenue' | translate }}</mat-card-title>
			<mat-card-subtitle>{{ totalRevenue | currency }}</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content></mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ 'Pages.Home.Expenses' | translate }}</mat-card-title>
			<mat-card-subtitle>{{ totalExpenses | currency }}</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content></mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ 'Pages.Home.Balance' | translate }}</mat-card-title>
			<mat-card-subtitle>{{ totalRevenue - totalExpenses | currency }}</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content></mat-card-content>
	</mat-card>
</div>
