@import '/src/assets/bootstrap/scss/bootstrap.scss';

.home-container {
	padding-top: 20px;
}

.add-button {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.period-form-field {
	width: 100%;
}

@include media-breakpoint-up(md) {
	.period-form-field {
		width: auto;
	}
}

