
Home
<!-- <period-select (periodChange)="periodSubject.next($event)" appearance="fill"></period-select> -->

<!-- <div class="cards-container">
    <mat-card [loading]="loading">
        <mat-card-header>
            <mat-card-title>{{ 'Pages.Home.Income' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ totalIncome | currency }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content></mat-card-content>
    </mat-card>

    <mat-card [loading]="loading">
        <mat-card-header>
            <mat-card-title>{{ 'Pages.Home.Expenses' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ totalExpenses | currency }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content></mat-card-content>
    </mat-card>

    <mat-card [loading]="loading">
        <mat-card-header>
            <mat-card-title>{{ 'Pages.Home.Balance' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ totalIncome - totalExpenses | currency }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content></mat-card-content>
    </mat-card>
</div> -->

<!-- <mat-fab-menu
    class="menu-add-button"
    color="primary"
    [fabButtons]="fabButtons"
    (onFabMenuItemSelected)="menuItemSelected($event)"
></mat-fab-menu> -->
