:root {
	--topbar-height: 64px;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.two-input-container {
	display: flex;
	flex-direction: row;
	gap: 22px;

	input {
		width: 100%;
	}
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff;
	width: 100%;
	height: 100%;
}
