<div class="mobile-view">
    <mat-accordion multi="true">
        <mat-expansion-panel
            class="mat-elevation-z1"
            *ngFor="let income of periodIncome?.data"
            [expanded]="openedPanels.includes(income.id)"
            (opened)="openedPanels.push(income.id)"
            (closed)="forgetPanel(income.id)"
            #panel
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title">
                    <div class="item">
                        <div class="sub-title">
                            {{ "Pages.Income.Description" | translate }}
                        </div>
                        <div [ngClass]="panel.expanded ? '' : 'sub-value'">
                            {{ income.description }}
                        </div>
                    </div>

                    <div class="item">
                        <div class="sub-title">
                            {{ "Pages.Income.PaymentDate" | translate }}
                        </div>
                        <div class="sub-value">
                            {{ income.displayPaymentDate | date }}
                        </div>
                    </div>
                </mat-panel-title>

                <mat-panel-description class="panel-description">
                    <div class="sub-value">{{ income.amount | currency }}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="panel-content">
                <div class="sub-content">
                    <div class="item">
                        <div class="sub-title">{{ "Pages.Income.Payer" | translate }}</div>
                        <div class="sub-value">{{ income.payer }}</div>
                    </div>
                </div>

                <div class="sub-content">
                </div>
            </div>
            <mat-action-row>
                <button mat-icon-button color="primary" (click)="editIncome.emit(income)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="deleteIncome.emit(income)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card>
        <mat-card-content class="total-container">
            {{ "Common.Total" | translate }}
            <div class="total-value">{{ totalAmount | currency }}</div>
        </mat-card-content>
    </mat-card>
</div>
