<table mat-table [dataSource]="categoryDataSource" #table="matTable">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th *matHeaderCellDef>{{ 'common.name' | translate }}</th>
      <td *matCellDef="let element; table: table" mat-cell> {{ element.Name }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Icon">
      <th *matHeaderCellDef>{{ 'common.icon' | translate }}</th>
      <td *matCellDef="let element; table: table" mat-cell> {{ element.Icon | empty }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Color">
      <th *matHeaderCellDef>{{ 'common.color' | translate }}</th>
      <td *matCellDef="let element; table: table" mat-cell> {{ element.Color | empty }} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns; table: table" mat-row></tr>
</table>