<div class="mobile-view">
    <mat-accordion multi="true">
        <mat-expansion-panel
            *ngFor="let expense of periodExpenses?.data"
            class="mat-elevation-z1"
            [expanded]="openedPanels.includes(expense.Id)"
            (opened)="openedPanels.push(expense.Id)"
            (closed)="forgotPanel(expense.Id)"
            #panel
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title">
                    <div class="item-container">
                        <div class="item">
                            <div class="sub-title">{{ "common.description" | translate }}</div>
                            <div [ngClass]="panel.expanded ? '' : 'sub-value'">{{ expense.Description }}</div>
                        </div>

                        <div class="item">
                            <div class="sub-title">{{ "common.purchase-date" | translate }}</div>
                            <div class="sub-value">{{ expense.PurchaseDate | date }}</div>
                        </div>
                    </div>
                </mat-panel-title>

                <mat-panel-description class="panel-description">
                    <div class="sub-value">{{ expense.Amount | currency }}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="panel-content">
                <div class="sub-content">
                    <div class="item">
                        <div class="sub-title">{{ "common.due-date" | translate }}</div>
                        <div class="sub-value">{{ expense.DueDate | date }}</div>
                    </div>

                    <div class="item">
                        <div class="sub-title">{{ "common.category" | translate }}</div>
                        <div class="sub-value">{{ expense.Category?.Name }}</div>
                    </div>
                </div>

                <div class="sub-content">
                    <div class="item">
                        <div class="sub-title">{{ "common.payment-method" | translate }}</div>
                        <div class="sub-value">{{ expense.PaymentMethod?.Name }}</div>
                    </div>
                </div>
            </div>
            <mat-action-row>
                <button mat-icon-button color="primary" (click)="editExpense.emit(expense)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="deleteExpense.emit(expense)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card>
        <mat-card-content class="total-container">
            {{ "common.total" | translate }}
            <div class="total-value">{{ totalAmount | currency }}</div>
        </mat-card-content>
    </mat-card>
</div>
