@import "/src/assets/theme/colors.scss";

mat-sidenav-content {
	padding: 22px !important;
}

.sidebar-container {
	height: calc(100vh - var(--topbar-height));
}

.list-item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 30px 0 10px;

	span {
		margin-top: 2.5px;
	}
}

.active-item {
    background-color: $color-selected;
}

.active-item-dark {
    background-color: $color-dark-selected;
}

.wave {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
}

::ng-deep .dark-theme .mat-drawer-backdrop.mat-drawer-shown {
	background-color: rgba(0, 0, 0, 0.32) !important;
}
