<mat-sidenav-container class="sidebar-container">
	<mat-sidenav #sidenav mode="over" autoFocus="false">
		<mat-nav-list>
			<!-- <h2 matSubheader>{{ 'MY_WORK' | translate }}</h2> -->

			<mat-list-item routerLink="/home" [routerLinkActive]="activeStyle" (click)="sidenav.close()">
				<div class="list-item">
					<mat-icon>home</mat-icon>
					<span>{{ 'Sidebar.Home' | translate }}</span>
				</div>
			</mat-list-item>
			<mat-list-item routerLink="/income" [routerLinkActive]="activeStyle" (click)="sidenav.close()">
				<div class="list-item">
					<mat-icon>attach_money</mat-icon>
					<span>{{ 'Sidebar.Income' | translate }}</span>
				</div>
			</mat-list-item>
			<mat-list-item routerLink="/expenses" [routerLinkActive]="activeStyle" (click)="sidenav.close()">
				<div class="list-item">
					<mat-icon>money_off</mat-icon>
					<span>{{ 'Sidebar.Expenses' | translate }}</span>
				</div>
			</mat-list-item>
			<mat-list-item routerLink="/config" [routerLinkActive]="activeStyle" (click)="sidenav.close()">
				<div class="list-item">
					<mat-icon>settings</mat-icon>
					<span>{{ 'Sidebar.Config' | translate }}</span>
				</div>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="wave">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
				<path fill="#ea7600" fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,240C480,267,600,277,720,245.3C840,213,960,139,1080,117.3C1200,96,1320,128,1380,144L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
			</svg>
		</div>

		<div class="container">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
