@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import "/src/assets/theme/colors.scss";

.sidebar-container {
	height: calc(100vh - var(--topbar-height));
}

.list-item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 30px 0 10px;

	span {
		margin-top: 2.5px;
	}
}

.active-item {
    background-color: $color-selected;
}

.active-item-dark {
    background-color: $color-dark-selected;
}

.background {
	background-color: $color-background;
}

mat-sidenav-content {
	padding-top: 10px;
}

::ng-deep .dark-theme .mat-drawer-backdrop.mat-drawer-shown {
	background-color: rgba(0, 0, 0, 0.32) !important;
}

@include media-breakpoint-up(lg) {
	mat-sidenav-content {
		padding: 22px !important;
	}
}
