<div class="admin-container" [loading]="!categories && !paymentMethods">
	<mat-card>
		<mat-card-content>
			<div class="lists-container">
				<mat-list role="list">
					<div mat-subheader>{{ 'Pages.Admin.Categories' | translate }}</div>
					<ng-container *ngFor="let category of categories">
						<mat-list-item role="listitem">
							<admin-input [item]="category" type="category" (itemUpdated)="itemUpdate.next()"></admin-input>
						</mat-list-item>
					</ng-container>

					<mat-list-item role="listitem">
						<mat-form-field class="new-item-input" (click)="addNewItem('category')">
							<mat-label>{{ 'Pages.Admin.AddNewItem' | translate }}</mat-label>
							<input matInput disabled="true"/>
							<mat-icon matSuffix>add</mat-icon>
						</mat-form-field>
					</mat-list-item>
				</mat-list>
				<mat-list role="list">
					<div mat-subheader>{{ 'Pages.Admin.PaymentMethods' | translate }}</div>
					<ng-container *ngFor="let paymentMethod of paymentMethods">
						<mat-list-item role="listitem">
							<admin-input [item]="paymentMethod" type="paymentMethod" (itemUpdated)="itemUpdate.next()"></admin-input>
						</mat-list-item>
					</ng-container>

					<mat-list-item role="listitem">
						<mat-form-field class="new-item-input" (click)="addNewItem('paymentMethod')">
							<mat-label>{{ 'Pages.Admin.AddNewItem' | translate }}</mat-label>
							<input matInput disabled="true"/>
							<mat-icon matSuffix>add</mat-icon>
						</mat-form-field>
					</mat-list-item>
				</mat-list>
			</div>
		</mat-card-content>
	</mat-card>
</div>
