<h2 mat-dialog-title>{{ "Pages.Home.AddDialog.Title" | translate }}</h2>

<mat-dialog-content>
	<form [formGroup]="newExpenseForm">
		<mat-form-field>
			<mat-label>{{ "Pages.Home.Description" | translate }}</mat-label>
			<input matInput type="text" formControlName="description"/>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ "Pages.Home.Amount" | translate }}</mat-label>
			<input matInput currencyMask  formControlName="amount"/>
		</mat-form-field>

		<div class="two-input-container">
			<mat-form-field>
				<mat-label>{{ "Pages.Home.Category" | translate }}</mat-label>
				<mat-select formControlName="category">
					<mat-option
						*ngFor="let category of categories | async"
						[value]="category"
					>
						{{ category.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>{{ "Pages.Home.PaymentMethod" | translate }}</mat-label>
				<mat-select formControlName="paymentMethod">
					<mat-option
						*ngFor="let paymentMethod of paymentMethods | async"
						[value]="paymentMethod"
					>
						{{ paymentMethod.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="two-input-container">
			<mat-form-field>
				<mat-label>{{ "Pages.Home.DueDate" | translate }}</mat-label>
				<input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" />
				<mat-datepicker-toggle matIconSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #dueDatePicker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<mat-label>{{ "Pages.Home.PurchaseDate" | translate }}</mat-label>
				<input matInput [matDatepicker]="purchaseDatePicker" formControlName="purchaseDate" />
				<mat-datepicker-toggle matIconSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #purchaseDatePicker></mat-datepicker>
			</mat-form-field>
		</div>

		<div class="button-container">
			<button mat-flat-button color="primary" class="" (click)="submitForm()">{{ "Common.Send" | translate  }}</button>
		</div>
	</form>
</mat-dialog-content>
