<!-- <button class="close-button" mat-icon-button mat-dialog-close>
	<mat-icon>close</mat-icon>
</button>

<h2 mat-dialog-title>{{ data.income?.description ? ("Pages.Income.EditIncome" | translate) : ("Pages.Income.NewIncome" | translate) }}</h2>

<mat-dialog-content [loading]="loading">
	<form *ngIf="incomeForm" [formGroup]="incomeForm">
		<div class="form-container">
			<mat-form-field>
				<mat-label>{{ "Pages.Income.Description" | translate }}</mat-label>
				<input matInput type="text" formControlName="description"/>
				<mat-error>{{ showErrorMessage('description') }}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-label>{{ "Pages.Income.Payer" | translate }}</mat-label>
				<input matInput type="text" formControlName="payer"/>
				<mat-error>{{ showErrorMessage('payer') }}</mat-error>
			</mat-form-field>

			<div class="two-input-container">
				<mat-form-field>
					<mat-label>{{ "Pages.Income.Amount" | translate }}</mat-label>
					<input matInput currencyMask formControlName="amount"/>
					<mat-error>{{ showErrorMessage('amount') }}</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ "Pages.Income.PaymentDate" | translate }}</mat-label>
					<input matInput [matDatepicker]="paymentDatePicker" formControlName="paymentDate" />
					<mat-datepicker-toggle matIconSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #paymentDatePicker></mat-datepicker>
					<mat-error>{{ showErrorMessage('paymentDate') }}</mat-error>
				</mat-form-field>
			</div>

			<mat-expansion-panel class="mat-elevation-z0" *ngIf="showRecurrentCheck">
				<mat-expansion-panel-header>
					<mat-panel-title>{{ 'Common.MoreOptions' | translate }}</mat-panel-title>
				</mat-expansion-panel-header>

				<div class="checkbox-tooltip">
					<mat-checkbox formControlName="periodic" #periodic>{{ "Common.Periodic" | translate }}</mat-checkbox>
					<mat-icon fontIcon="help" [matTooltip]="'Pages.Income.PeriodicTooltip' | translate" matTooltipPosition="right"></mat-icon>
				</div>

				<mat-form-field *ngIf="!periodic.checked">
					<mat-label>{{ "Pages.Income.Installments" | translate }}</mat-label>
					<input matInput type="number" min="1" formControlName="installments"/>
					<mat-error>{{ showErrorMessage('installments') }}</mat-error>
				</mat-form-field>

				<mat-form-field *ngIf="periodic.checked">
					<mat-label>{{ "Pages.Income.MonthInterval" | translate }}</mat-label>
					<input matInput type="number" min="1" formControlName="monthInterval"/>
					<mat-error>{{ showErrorMessage('monthInterval') }}</mat-error>
				</mat-form-field>
			</mat-expansion-panel>
		</div>

		<div class="button-container">
			<button mat-flat-button color="primary" (click)="submitForm()" [disabled]="incomeForm.invalid || incomeForm.pristine">{{ "Common.Send" | translate  }}</button>
		</div>
	</form>
</mat-dialog-content> -->
