<div class="mobile-view">
    @if (expenses?.length) {
        <mat-card>
            @for (expense of expenses; track $index) {
                <div class="item-container">
                    <div class="description-container">
                        <span class="description">{{ expense.Description }}</span>
                        <span class="category">{{ expense.Category?.Name | empty }}</span>
                    </div>

                    <div class="amount-container">
                        <span class="amount">{{ expense.Amount | currency }}</span>
                    </div>
                </div>

                <mat-divider></mat-divider>
            }
        </mat-card>
    
        <mat-card>
            <mat-card-content class="total-container">
                {{ "common.total" | translate }}
                <!-- <div class="total-value">{{ totalAmount | currency }}</div> -->
            </mat-card-content>
        </mat-card>
    }
    @else {
        <span class="no-result-container">{{ 'common.no-result-found' | translate }}</span>
    }    
</div>
