@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss';

expenses-desktop-view {
	display: none;
}

expenses-mobile-view {
	display: block;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.header-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 22px;
	padding: 22px 22px 0 22px;
}

.action-container {
	display: flex;
	gap: 22px;
	align-items: center;
	margin-bottom: 22px;
}

@include media-breakpoint-up(lg) {
	expenses-desktop-view {
		display: block;
	}

	expenses-mobile-view {
		display: none;
	}

	.header-container {
		flex-direction: row;
		margin-bottom: 0;
		justify-content: space-between;
		align-items: center;
	}
}
