<div class="main-container" [loading]="expensesLoading">
	<mat-card class="header-container">
		<period-select
			[sortOptions]="sortOptions"
			(periodChange)="periodSubject.next($event)"
			(filterChange)="sort($event)"
		></period-select>

		<div class="action-container">
			<mat-slide-toggle (change)="filter($event.checked)">{{ 'Pages.Expenses.ShowPaid' | translate }}</mat-slide-toggle>

			<button mat-stroked-button color="primary" (click)="expensePaidService.toggle()">
				{{ (expensePaidService.showActions ? "Common.Cancel" : "Pages.Expenses.MarkAsPaid") | translate }}
			</button>
			<button
				mat-stroked-button
				color="accent"
				*ngIf="expensePaidService.shouldSave"
				(click)="expensePaidService.save()"
			>
				{{ "Common.Save" | translate }}
			</button>
		</div>
	</mat-card>

	<ng-container *ngIf="periodExpenses.data.length else noRegister">
		<expenses-desktop-view
			[periodExpenses]="periodExpenses"
			[displayedColumns]="displayedColumns"
			[totalAmount]="totalAmount"
			(editExpense)="editExpense($event)"
			(deleteExpense)="deleteExpense($event)"
		></expenses-desktop-view>

		<expenses-mobile-view
			[periodExpenses]="periodExpenses"
			[totalAmount]="totalAmount"
			(editExpense)="editExpense($event)"
			(deleteExpense)="deleteExpense($event)"
		></expenses-mobile-view>
	</ng-container>
</div>

<ng-template #noRegister>
	<div class="alert alert-light" role="alert">{{ 'Pages.Expenses.Alerts.NoExpense' | translate }}</div>
</ng-template>
