@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss';

expenses-desktop-view {
	display: none;
}

expenses-mobile-view {
	display: block;
}

@include media-breakpoint-up(lg) {
	expenses-desktop-view {
		display: block;
	}

	expenses-mobile-view {
		display: none;
	}
}
