<div class="header-container">
	<period-select
		[sortOptions]="sortOptions"
		(periodChange)="periodSubject.next($event)"
		(filterChange)="sort($event)"
	></period-select>

	<div class="action-container">
		<button mat-flat-button (click)="expensePaidService.toggle()">{{ (expensePaidService.shouldSave ? 'Common.Cancel' : 'Pages.Expenses.MarkAsPaid') | translate }}</button>
		<button mat-flat-button *ngIf="expensePaidService.shouldSave" (click)="expensePaidService.save()">{{ 'Pages.Expenses.SavePaidExpenses' | translate }}</button>
	</div>
</div>

<div [loading]="expensesLoading">
	<ng-container *ngIf="periodExpenses.data.length else noRegister">
		<expenses-desktop-view
			[periodExpenses]="periodExpenses"
			[displayedColumns]="displayedColumns"
			[totalAmount]="totalAmount"
			(editExpense)="editExpense($event)"
			(deleteExpense)="deleteExpense($event)"
		></expenses-desktop-view>

		<expenses-mobile-view
			[periodExpenses]="periodExpenses"
			[totalAmount]="totalAmount"
			(editExpense)="editExpense($event)"
			(deleteExpense)="deleteExpense($event)"
		></expenses-mobile-view>
	</ng-container>
</div>

<ng-template #noRegister>
	<div class="alert alert-light" role="alert">{{ 'Pages.Expenses.Alerts.NoExpense' | translate }}</div>
</ng-template>
