@import '/src/assets/bootstrap/scss/bootstrap.scss';

.revenue-container {
	padding-top: 20px;
	padding-bottom: 110px;
}

@include media-breakpoint-up(lg) {
	.revenue-container {
		padding-bottom: auto;
	}
}
