<div class="title-container">
    {{ isNew ? ("expenses.new-expense" | translate) : ("expenses.edit-expense" | translate) }}
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <form class="d-flex-column h-100" [formGroup]="expenseForm">
        <div class="form-container">
            <mat-form-field>
                <mat-label>{{ "common.description" | translate }}</mat-label>
                <input matInput type="text" formControlName="Description" #description/>
                <mat-icon *ngIf="description.value" class="pointer" matSuffix (click)="clearInput(['Description'])">clear</mat-icon>
                <mat-error>{{ feedbackService.getFormError('Description', expenseForm) }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ "common.amount" | translate }}</mat-label>
                <input matInput currencyMask formControlName="Amount" #amount/>
                <mat-icon *ngIf="amount.value" class="pointer" matSuffix (click)="clearInput(['Amount'])">clear</mat-icon>
                <mat-error>{{ feedbackService.getFormError('Amount', expenseForm) }}</mat-error>
            </mat-form-field>

            <div class="two-input-container">
                <searchable-autocomplete
                    formControlName="Category"
                    displayWith="Name"
                    [label]="'common.category' | translate"
                    [queryCommand]="categoryCommand"
                    [queryString]="paymentMethodFilter"
                ></searchable-autocomplete>

                <searchable-autocomplete
                    formControlName="PaymentMethod"
                    displayWith="Name"
                    [label]="'common.payment-method' | translate"
                    [queryCommand]="paymentMethodCommand"
                    [queryString]="paymentMethodFilter"
                ></searchable-autocomplete>
            </div>

            <div class="two-input-container">
                <mat-form-field>
                    <mat-label>{{ "common.purchase-date" | translate }}</mat-label>
                    <input matInput formControlName="PurchaseDate" [matDatepicker]="purchaseDatePicker" #purchaseDate/>
                    <mat-datepicker-toggle matIconSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #purchaseDatePicker></mat-datepicker>
                    <mat-icon *ngIf="purchaseDate.value" class="pointer" matSuffix (click)="clearInput(['PurchaseDate'])">clear</mat-icon>
                    <mat-error>{{ feedbackService.getFormError('PurchaseDate', expenseForm) }}</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>{{ "common.due-date" | translate }}</mat-label>
                    <input matInput formControlName="DueDate" [matDatepicker]="dueDatePicker" #dueDate/>
                    <mat-datepicker-toggle matIconSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dueDatePicker></mat-datepicker>
                    <mat-icon *ngIf="dueDate.value" class="pointer" matSuffix (click)="clearInput(['DueDate'])">clear</mat-icon>
                    <mat-error>{{ feedbackService.getFormError('DueDate', expenseForm) }}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="button-container">
            <button 
                mat-flat-button
                color="primary"
                [disabled]="expenseForm.invalid || expenseForm.pristine"
                (click)="submitForm()"
            >
                {{ "common.save" | translate }}
            </button>
        </div>
    </form>
</mat-dialog-content>
