<button class="close-button" mat-icon-button mat-dialog-close *ngIf="!loading">
	<mat-icon>close</mat-icon>
</button>

<h2 mat-dialog-title>{{ expense.description ? ("Pages.Expenses.EditExpense" | translate) : ("Pages.Expenses.NewExpense" | translate) }}</h2>

<mat-dialog-content [loading]="loading">
	<form *ngIf="expenseForm && paymentMethods && categories" [formGroup]="expenseForm">
		<div class="form-container">
			<mat-form-field>
				<mat-label>{{ "Pages.Expenses.Description" | translate }}</mat-label>
				<input matInput type="text" formControlName="description"/>
				<mat-error>{{ showErrorMessage('description') }}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-label>{{ "Pages.Expenses.Amount" | translate }}</mat-label>
				<input matInput currencyMask formControlName="amount"/>
				<mat-error>{{ showErrorMessage('amount') }}</mat-error>
			</mat-form-field>

			<div class="two-input-container">
				<mat-form-field>
					<mat-label>{{ "Pages.Expenses.Category" | translate }}</mat-label>
					<input formControlName="category" matInput [matAutocomplete]="categoryAutoComplete">

					<mat-autocomplete #categoryAutoComplete="matAutocomplete" [displayWith]="displayFn">
						<mat-option *ngFor="let category of filteredCategories | async" [value]="category">
							{{ category.name }}
						</mat-option>
					</mat-autocomplete>

					<mat-error>{{ showErrorMessage('category') }}</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ "Pages.Expenses.PaymentMethod" | translate }}</mat-label>
					<input formControlName="paymentMethod" matInput [matAutocomplete]="paymentMethodAutoComplete">

					<mat-autocomplete
						#paymentMethodAutoComplete="matAutocomplete"
						[displayWith]="displayFn"
						(optionSelected)="selectedPaymentMethod($event)"
					>
						<mat-option *ngFor="let paymentMethod of filteredPaymentMethods | async" [value]="paymentMethod">
							{{ paymentMethod.name }}
						</mat-option>
					</mat-autocomplete>

					<mat-error>{{ showErrorMessage('paymentMethod') }}</mat-error>
				</mat-form-field>
			</div>

			<div class="two-input-container">
				<mat-form-field>
					<mat-label>{{ "Pages.Expenses.DueDate" | translate }}</mat-label>
					<input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" />
					<mat-datepicker-toggle matIconSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #dueDatePicker></mat-datepicker>
					<mat-error>{{ showErrorMessage('dueDate') }}</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ "Pages.Expenses.PurchaseDate" | translate }}</mat-label>
					<input matInput [matDatepicker]="purchaseDatePicker" formControlName="purchaseDate" />
					<mat-datepicker-toggle matIconSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #purchaseDatePicker></mat-datepicker>
					<mat-error>{{ showErrorMessage('purchaseDate') }}</mat-error>
				</mat-form-field>
			</div>

			<mat-expansion-panel class="mat-elevation-z0">
				<mat-expansion-panel-header>
					<mat-panel-title>{{ 'Common.MoreOptions' | translate }}</mat-panel-title>
				</mat-expansion-panel-header>

				<mat-checkbox formControlName="periodic" #periodic>{{ "Pages.Expenses.Periodic" | translate }}</mat-checkbox>

				<mat-form-field *ngIf="!periodic.checked">
					<mat-label>{{ "Pages.Expenses.Installments" | translate }}</mat-label>
					<input matInput type="number" min="1" formControlName="installments"/>
					<mat-error>{{ showErrorMessage('installments') }}</mat-error>
				</mat-form-field>
			</mat-expansion-panel>
		</div>

		<div class="button-container">
			<button mat-stroked-button (click)="detailExpense($event)" [disabled]="expenseForm.invalid">{{ "Pages.Expenses.Detail" | translate }}</button>

			<button mat-flat-button color="primary" (click)="submitForm()" [disabled]="expenseForm.invalid || expenseForm.pristine">{{ "Common.Send" | translate }}</button>
		</div>
	</form>
</mat-dialog-content>
