@import "/src/assets/bootstrap/scss/bootstrap-utilities.scss";

revenue-desktop-view {
	display: none;
}

revenue-mobile-view {
	display: block;
}

@include media-breakpoint-up(lg) {
	revenue-desktop-view {
		display: block;
	}

	revenue-mobile-view {
		display: none;
	}
}
