$color-primary: #ea7600;
$color-accent: #b1ede8;

$color-dark-accent: #43a289;

$color-selected: #c7c7c6;
$color-dark-selected: #363636;

$color-topbar: #212121;
$color-background: #e1e1e1;

$color-text: #202427;
$color-text-2: #32383D;
$color-text-3: #464B53;
$color-text-4: #616972;
$color-text-5: #767F8A;
$color-text-6: #F5F5F5;
$color-text-7: #A8ADB4;
$color-text-8: #BFC5C8;
$color-text-9: #D9DBDD;