$md-purple-warn: (
    50 : #ffedef,
    100 : #ffd2d7,
    200 : #ffb4bc,
    300 : #ff96a1,
    400 : #ff808c,
    500 : #ff6978,
    600 : #ff6170,
    700 : #ff5665,
    800 : #ff4c5b,
    900 : #ff3b48,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe4e5,
    A700 : #ffcacd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dark-purple-warn: (
    50 : #faebec,
    100 : #f2ccd0,
    200 : #eaabb1,
    300 : #e18991,
    400 : #da6f7a,
    500 : #d45662,
    600 : #cf4f5a,
    700 : #c94550,
    800 : #c33c46,
    900 : #b92b34,
    A100 : #fffbfb,
    A200 : #ffc8cb,
    A400 : #ff959b,
    A700 : #ff7b82,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


