@use "@angular/material" as mat;
@use "palette-helper";

@include mat.core();

@import "./md-purple-primary.scss";
@import "./md-purple-accent.scss";
@import "./md-purple-warn.scss";

@import "./bootstrap-theme.scss";

// #F6AE2D

$my-theme: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette($md-purple),
			accent: mat.define-palette($md-purple-accent),
			warn: mat.define-palette($md-purple-warn),
		),
		typography: mat.define-typography-config(),
		density: 0,
	)
);

$my-dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette($md-dark-purple),
			accent: mat.define-palette($md-dark-purple-accent),
			warn: mat.define-palette($md-dark-purple-warn),
		),
	)
);

$my-theme: palette-helper.modify-background($my-theme, #F8F7F9);

@include mat.all-component-themes($my-theme);

.dark-theme {
	@include mat.all-component-colors($my-dark-theme);
}
