$md-purple: (
    50 : #ebe1f7,
    100 : #ceb3ea,
    200 : #ad81dc,
    300 : #8c4ece,
    400 : #7328c4,
    500 : #5a02b9,
    600 : #5202b2,
    700 : #4801aa,
    800 : #3f01a2,
    900 : #2e0193,
    A100 : #cdbeff,
    A200 : #a68bff,
    A400 : #7f58ff,
    A700 : #6b3fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dark-purple: (
    50 : #e8e0f0,
    100 : #c5b3d9,
    200 : #9f80c0,
    300 : #784da7,
    400 : #5b2694,
    500 : #3e0081,
    600 : #380079,
    700 : #30006e,
    800 : #280064,
    900 : #1b0051,
    A100 : #a084ff,
    A200 : #7951ff,
    A400 : #521eff,
    A700 : #3e04ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
