@use "@angular/material" as mat;
@use "palette-helper";

@include mat.core();

@import "./md-orange.scss";
@import "./md-turquoise.scss";

@import "./bootstrap-theme.scss";

$my-theme: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette($md-orange),
			accent: mat.define-palette($md-turquoise),
		),
		typography: mat.define-typography-config(),
		density: 0,
	)
);

$my-dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette($md-orange),
			accent: mat.define-palette($md-turquoise-dark),
		)
	)
);

$my-theme: palette-helper.modify-background($my-theme, #F8F7F9);

@include mat.all-component-themes($my-theme);

.dark-theme {
	@include mat.all-component-colors($my-dark-theme);
}
